{% extends 'base.html' %}

{% block title %} Feedback {% endblock %}

{% block content %}

<div class="container p-2">
    <h1 class="display-1">Feedback</h1>
    <p class="lead">Fill out form to add feedback</p>
</div>

<form method="POST">
    {{form.hidden_tag()}}

    {% for field in form 
        if field.widget.input_type != 'hidden' %}

    <div class="container">
        {{field.label}}
        {{field(class_="form-control mb-4")}}

        {% for error in field.errors %}
        <span class="form-test text-danger">{{error}}</span>
        {% endfor %}
    </div>
    {% endfor %}

    <div class="container">
        <button class="btn btn-success" type="submit">Add Feedback</button>
    </div>
</form>

{% endblock %}